:root {
    --dark: #313131;
    --blue: #8cd6ff;
    --white: #f4f4f4;
    --cinzaclaro: #868686;
    --cinzaescuro: #4a4949;
    --light: #f5f5f5;
    --black: #000000;

}

[data-theme="dark"] {
    --light: #313131;
    --dark: #f5f5f5;
    --white: #000000;
    --black: #f4f4f4;
    --cinzaescuro: #868686;
    --cinzaclaro: #4a4949;
}

body {
    background-color: var(--light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

button {
    background-color: var(--dark);
    width: 3rem;
    height: 2rem;
    border: none;
    border-radius: 5rem;
    margin-left: 125px;
    padding: .45rem .354rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--cinzaclaro);
    transition: 400ms;
}

.header {
    width: 100%;
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header__link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 4px;
}

.header__link:hover {
    opacity: .6;
}

.header__link:focus {
    outline: none;
    background-color: var(--light);
    border-radius: 5px;
}

.icone {
    width: 24px;
    border-radius: 50%;
}

.main {
    width: 100vw;
    max-width: 700px;
    padding: 9px;
    box-sizing: border-box;
    margin: 0 auto;

}

.perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil__foto {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 6px solid var(--cinzaescuro);
}

.perfil__nome {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 400;
    color: var(--blue);
    margin: 16px 0;
}

.perfil__descricao {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.section {
    padding: 8px;
    width: 100%;
    max-width: 350px;
    margin: 24px auto;
    box-sizing: border-box;
}

.section__titulo {
    font-size: 22px;
    font-weight: 400;
    color: var(--blue);
    margin: 16px 0;
}

.curso {
    background-color: var(--cinzaclaro);
    padding: 8px;
    margin: 16px 0;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.curso:hover {
    box-shadow: 0px 0px 90px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.curso__titulo {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--blue);
    margin: 8px 0;
}

.curso__descricao {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 8px 0;
}

.atencao {
    font-size: 16px;
    color: #F54B25;
    padding: 10px;
}

.link {
    color: #F54B25;
}

#Btn {
    left: 65vw;
    margin-bottom: 15px;
}

.Btn {
    width: 45px;
    height: 45px;
    background: linear-gradient(#8cd6ff, #506ef4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    border: none;
  }
  
  .arrow path {
    fill: var(--light);
  }
  
  .text {
    font-size: 0.7em;
    width: 100px;
    position: absolute;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -18px;
    opacity: 0;
    transition-duration: .7s;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .7s;
  }
  
  .Btn:hover .arrow {
    animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-bottom {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.footer {
    width: 100%;
    height: 6vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.footer__texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--light);
    display: flex;
    align-items: center;
}

.icone--texto {
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

@keyframes pulsar {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}